.main {
    /* padding: 10px; */
}
.new{
    background-color: #f7f5f549; 
    color: #333;
   
}
.nav {
   padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: chocolate;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    font-family:cursive;
}

.nav-list {
    display: flex;
    gap: 60px;
    border: none;
    list-style: none;
    margin: 0;
    margin-top: 8px;
    align-items: center;
    font-size: 26px;
}

.search {
    margin-top: 8px;
    display: flex;
    
}

 .search input {
    width: 300px;
    height: 40px;
    padding-left: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

.click {
    width: 70px;
    background-color: #f8f8f8;
    font-size: 20px;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
}

.food-list {
    padding: 30px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 30px;
}

.food-card {
    width: 500px;
    height: 550px; 
    border-radius: 20px;
    box-shadow: 10px 15px 5px grey;
    margin-bottom: 20px; 
}

.food-card img {
    width: 500px; 
    height: auto;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.food-card h3 {
    font-size: 30px; 
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
}

.content {
    padding-left: 20px;
    font-size: 26px;
    display: flex;
    text-align: center;
    gap: 100px;
}

.linkss {
    font-size: 26px;
    text-align: center;
    text-decoration: none;
    color: black;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .food-card{
        justify-content: center;
        width: 300px;

    }
    .food-card img{
        width: 300px;
    }
}
